# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.tlog
*.sdf
*.suo
*.idb
*.pdb
*.ilk
*.ini
*.exe
*.opensdf
Project_Light.VC.VC.opendb
Project_Light.VC.db
bin/Debug/Intermediate/AudioManager.obj
bin/Debug/Intermediate/BaseApp.obj
bin/Debug/Intermediate/BasicShapes.obj
bin/Debug/Intermediate/BlendState.obj
bin/Debug/Intermediate/CameraManager.obj
bin/Debug/Intermediate/DDSTextureLoader.obj
bin/Debug/Intermediate/DeferredLightShader.obj
bin/Debug/Intermediate/DeferredRendering.obj
bin/Debug/Intermediate/DeferredShader.obj
bin/Debug/Intermediate/ElixirEditor.obj
bin/Debug/Intermediate/FileIO.obj
bin/Debug/Intermediate/GameManager.obj
bin/Debug/Intermediate/GameObject.obj
bin/Debug/Intermediate/IElixirGame.obj
bin/Debug/Intermediate/IScriptSystem.obj
bin/Debug/Intermediate/Light.obj
bin/Debug/Intermediate/MathHelper.obj
bin/Debug/Intermediate/ModelManager.obj
bin/Debug/Intermediate/OrthoManager.obj
bin/Debug/Intermediate/PlayerShip.obj
bin/Debug/Intermediate/Post-processingShader.obj
bin/Debug/Intermediate/PulseGame.obj
bin/Debug/Intermediate/Render3DComponent.obj
bin/Debug/Intermediate/Scene.obj
bin/Debug/Intermediate/SceneManager.obj
bin/Debug/Intermediate/ShadowMap.obj
bin/Debug/Intermediate/ShadowMapShader.obj
bin/Debug/Intermediate/SkyDome.obj
bin/Debug/Intermediate/Terrain.obj
bin/Debug/Intermediate/TestScript.obj
bin/Debug/Intermediate/TextureLoader.obj
bin/Debug/Intermediate/TextureManager.obj
bin/Debug/Intermediate/Timer.obj
bin/Debug/Intermediate/TransformComponent.obj
bin/Debug/Intermediate/TransformSystem.obj
bin/Debug/Intermediate/WICTextureLoader.obj
bin/Debug/Intermediate/imgui.obj
bin/Debug/Intermediate/imgui_demo.obj
bin/Debug/Intermediate/imgui_draw.obj
bin/Debug/Intermediate/imgui_impl_dx11.obj
bin/Debug/Intermediate/jsoncpp.obj
bin/Debug/Intermediate/main.obj
bin/Debug/Intermediate/Render2DComponent.obj
bin/Debug/Intermediate/Texture2DShader.obj
bin/Debug/Intermediate/ENote.obj
bin/Debug/Intermediate/InputManager.obj
bin/Debug/Intermediate/RhythmManager.obj
